.pageDetails__container{

}

.pageDetails__container ul{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px 20px;
    list-style-type: none;
    padding: 20px;
}

.pageDetails__container ul li{
    box-shadow: 1px 2px 10px #9c9c9c;
    background-color: #fff;
    padding: 15px;
}

.listitem{
    color: #000;
    text-decoration: none;
}

.listitem h4{
    font-size: 24px;
}

.pageDetails__container ul li:hover{
    background-color:#e5e5e5;
}
